@font-face{
  font-family: 'MyFont';
  src: url('../static/my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('../static/1.jpg');
}
